.RecoverPassword__container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: var(--body-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  padding-bottom: 4em;
}

.RecoverPassword__container h1 {
  position: absolute;
  top: 4rem;
  width: 100%;
  padding: 20px 20px;
  background-color: var(--body-black);
  color: var(--text-color-white);
  font-size: 24px;
}

.RecoverPassword__form {
  margin: auto;
}

.RecoverPassword__form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--body-white);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgb(233, 233, 233);
}

.RecoverPassword__form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.RecoverPassword__form input {
  min-width: 300px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0.5em;
  border: 0.1px solid var(--text-color-grayLight);
  background-color: var(--body-white);
  padding: 10px;
  padding-left: 15px;
  color: var(--text-color-gray);
  box-shadow: 0px 0px 10px 7px rgb(255 255 255 / 20%);
}

.RecoverPassword__container span {
  color: var(--text-color-red);
}
.RecoverPassword__container a {
  color: var(--text-color-red);
}

.RecoverPassword__form button {
  width: 250px;
  margin: auto;
  padding: 13px;
  font-size: 1em;
  font-weight: 600;
  color: var(--text-color-white);
  background-color: var(--body-red);
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.5s;
}
